<ion-view title="Rishwat | Report">
    <ion-content class="has-header padding">
        <a ng-click="onClick()" class="button button-outline button-stable" style="padding-top: 10px;">
            <img src="img/icon_12334.png" alt="" style="width:60%; margin: 0 auto; display: block;" />
            Report Fish
        </a>
        <br /><br />
        <a ng-click="onClick()" class="button button-outline button-stable" style="padding-top: 10px;display:{{displayy}}">
            <img src="img/icon_4657.png" alt="" style="width:60%; margin: 0 auto; display: block;" />
            Report Stars
        </a>

        <form class="list" style="display:{{display}}">
            <label class="item item-input item-floating-label">
                <span class="input-label">Bribe Amount (Rs.)</span>
                <input type="number" placeholder="Bribe Amount (Rs.)">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">For what?</span>
                <input type="text" placeholder="For what?">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Location">
            </label>
            <button type="submit" class="button button-block button-positive">
                Submit
            </button>
        </form>
    </ion-content>
</ion-view>
