<ion-view title="Rishwat | Games" id="games">
    <ion-content class="has-header padding">
        <h3>Avoiding the line</h3>
        <h4>at</h4>
        <h3>Passport office</h3>
        <img src="img/map3.png" alt="" width="100%"/>

        <h3>Bacho ki mithai...</h3>

        <button class="button button-large button-positive bachokimithai" style="float: left;" ng-click="visible1 = !visible1" ng-init="visible1=false">
            160
        </button>
        <button class="button button-large button-positive bachokimithai" style="float: right;" ng-click="visible2 = !visible2" ng-init="visible2=false">
            1600
        </button>
    </ion-content>
</ion-view>
