md-toolbar {
    position: absolute;
    top: 0;
}

.angular-google-map-container {
    height: 100vh;
    width: 100%;
}

#searchBoxParent {
    position: relative;
}
#searchBoxParent button[aria-label="Get location"] {
    position: absolute;
    right: 5px;
}
#searchBoxParent button[aria-label="Get location"] md-icon {
    margin-top: 3px;
}

#report-button {
    bottom: 10vh;
    position: absolute;
    right: 5vw;
    z-index: 1;
}
